/*Home-------------------------*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif; 
    background-color: beige;   
}

/*navbar*/
nav {
    margin-top: 15px;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: beige;
    border-radius: 30px;
    overflow: hidden;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: black;
}


nav img {
    width: 50px;
    height: auto;
}


.left_links {
    display: flex;
    gap: 15px;
}

.left_links a {
    padding: 20px;
}

nav a:hover {
    color: white;
    background-color: rgb(189, 101, 101);
    border-radius: 10px;
}


.logo {
    width: 40px;
    height: auto;
    margin-right: 30px; 
}


.user_info {
    display: flex;
    gap: 10px; 
    align-items: center; 
}


.user_info .guest {
    margin: 0;
    padding: 10px;
}


.login_btn {
    background: transparent;
    background-color: none;
    border-style: none;
}

.login_btn a {
    padding: 30px;
}

/* Responsiviteti për madhësi më të vogla ekranesh */

@media (max-width: 1324px) {
    .left_links a {
        padding: 20px;
    }
}

@media (max-width: 1224px) {
    .left_links a {
        padding: 10px;
    }
}

@media (max-width: 1124px) {
    nav {
        font-size: small;
    }

    .left_links a {
        padding: 6px;
    }
}

@media (max-width: 1040px) {
    nav {
        font-size: small;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .left_links {
        gap: 10px;
        flex-wrap: wrap;
    }

    .left_links a {
        padding: 10px;
        font-size: 12px;
    }
}

@media (max-width: 959px) {
    nav {
        font-size: small;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    nav img {
        width: 50px;
        margin-right: 20px;
    }

    .left_links {
        gap: 10px;
    }

    .left_links a {
        padding: 10px;
        font-size: 10px;
    }

    .logo {
        margin-right: 30px; 
    }

    
    .user_info {
        margin-left: auto; 
        gap: 10px;
    }
}

@media (max-width: 958px) {
    nav {
        font-size: small;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        flex-wrap: wrap;
    }

    
    .logo {
        margin-left: auto; 
        margin-right: 0;
        width: 50px;  
        height: auto;
    }

    
    .left_links {
        display: flex;
        gap: 10px;
    }

    .left_links a {
        padding: 10px;
        font-size: 10px;
    }

    
    .user_info {
        margin-left: auto; 
        gap: 10px;
    }

    .login_btn a {
        padding: 10px;
    }
}

@media (max-width: 573px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        flex-wrap: nowrap; 
        
    }

    
    .logo {
        width: 30px;  
        height: auto;
        margin-left: 5px; 

   
    .left_links {
        display: flex;
        gap: 5px;
        align-items: center;
        margin-right: auto;
        
    }

    .left_links a {
        padding: 5px;
        font-size: 12px;
    }

    
    .user_info {
        display: flex;
        align-items: center;
        gap: 8px; 
        margin-left: auto; 
        
    }

    .user_info a {
        padding: 5px 8px;
        font-size: 12px;
        text-decoration: none;
    }
}
}

@media (max-width: 507px) {
    nav {
        font-size: 5px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        flex-wrap: nowrap;
    }

    
    .logo {
        margin-left: 0; 
        width: 25px; 
        height: auto;
    }

    
    .left_links {
        display: flex;
        gap: 8px; 
        align-items: center;
        flex-wrap: nowrap;
        margin-right: auto;
    }

    .left_links a {
        padding: 4px 8px; 
        font-size: 10px; 
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    
    .user_info {
        display: flex;
        align-items: center;
        gap: 12px; 
        margin-left: auto;
    }

    .user_info a {
        padding: 4px 6px;
        font-size: 10px; 
        text-decoration: none;
    }

    .login_btn a {
        padding: 3px 5px;
        font-size: 9px;
    }
}

@media (max-width: 440px) {
    
    .logo {
        width: 18px; 
        height: auto;
    }

    .left_links a {
        padding: 4px 8px; 
        font-size: 7px; 
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    
    .user_info {
        display: flex;
        align-items: center;
        gap: 12px; 
        margin-left: auto;
    }

    .user_info a {
        padding: 4px 6px;
        font-size: 10px; 
        text-decoration: none;
    }

    .login_btn a {
        padding: 4px 6px;
        font-size: 8px;
    }
}

@media (max-width: 400px) {
    
    .logo {
        width: 15px; 
        height: auto;
    }

    .left_links a {
        padding: 4px 8px; 
        font-size: 7px; 
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    
    .user_info {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-left: auto;
    }

    .user_info a {
        padding: 4px 6px;
        font-size: 10px; 
        text-decoration: none;
    }

    .login_btn a {
        padding: 4px 6px;
        font-size: 6px;
    }
}







#nje {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto; 
    width: 100%;
    overflow: hidden;
}

  
/*fotot e para ---------------------*/
.text{
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 90px;
    font-family: Comic Sans MS;
    font-weight: normal;
}

.column {
    width: 20.33%;
    padding: 30px;
    flex: 1;
    display: inline-block;
    justify-content: center; 

}

.column img{
    height:300px;
   
}

.column div p{
    margin-top: 0px;
}
.row {
    display:flex;
    justify-content: space-between;
    gap:5px; 
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 20px;

}
.column1 {
   padding: 0;
    display: flex;
    justify-content: center; 
    height: auto;
}

.column1 img {
    height: 1000x;
}

.row1 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 230px 50px 200px; 
}


@media (max-width: 1120px) {
    
    .column img{
        height:290px; 
    }
}

@media (max-width: 1035px) {
    
    .column img{
        height:200px;   
    }
}

@media (max-width: 800px) {
    
    .column p{
        font-size: small;
    }
}
@media (max-width: 700px) {
    
    .column img{
        height:180px; 
    }
}
@media (max-width: 662px) {
    .row {
        display:flex;
        justify-content: space-between;
        gap:5px; 
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }

} 
    @media (max-width: 655px) {
       
        .row {
            display:flex;
            justify-content: space-between;
            gap:5px; 
            padding-right: 0px;
            padding-left: 0px;
            padding-top: 20px;
        
        }
}
@media (max-width: 636px) {
       
    .row {
        display:flex;
        justify-content: space-between;
        gap:5px; 
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 20px;
    }
   
}

@media (max-width: 524px) {
       
    .row {
        display:flex;
        justify-content: space-between;
        gap:5px; 
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 20px;
    }

    .column img{
        height:140px; 
    }
}




/*contact us ------------*/

.container1 {
    padding: 100px;
    background-color:transparent; 
    border-radius: 10px;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
}



.container1 input, .container1 select, .container1 textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9); 
    transition: all 0.3s ease; 
}

.container1 input:focus, .container1 select:focus, .container1 textarea:focus {
    outline: none;
    border: 1px solid #04AA6D;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 170, 109, 0.5); 
}


.container1 label {
    font-size: 18px;
    font-weight: bold;
    color:black;
    display: block;
    margin-bottom: 6px;
}


.container1 input[type="submit"] {
    background-color:brown;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .container1 {
        width: 90%;
    }
}
/* Slideshow-----------------------------*/

.slideshow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}


.slideshow-container {
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 50vh; 
    overflow: hidden;


  } 
  

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
  }
  
 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
 
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
 
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }


    .qmimi{
        margin-bottom: 10px;
        font-size:1.2em;
        color:#333;
    }
        
          .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @media (max-width: 500px) {
    
    .column {
        width: 20.33%;
        padding: 0px;
        flex: 1;
        display: inline-block;
        justify-content: center; 
    
    }
    
    .column img{
        height:200px;
       
    }}
    
    @media (max-width: 423){
        .column {
            width: 20.33%;
            padding: 0px;
            flex: 1;
            display: inline-block;
            justify-content: center; 
        
        }
        
        .column img{
            height:100px;
           
        }
    }
    @media (max-width: 370px){
        .column {
            width: 20.33%;
            padding: 0px;
            flex: 1;
            display: inline-block;
            justify-content: center; 
        
        }
        
        .column img{
            height:20px;
           
        }
    }
  
    
    
  
  /*produkti*/
  
  .columnflex {
    width: 20.33%;
    padding: 30px;
    flex: 1;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.columnflex img{
    width: 300px;
    height:300px;
   
}

.columnflex div p{
    margin-top: 0px;
}
.rowflex::after {
    content: "";
    clear: both;
    display: table;
  }

  .rowflex {
    display:flex;
    justify-content: center;
    gap:5px; 
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;

}

@media (max-width: 1315px) {

    .columnflex {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex img{
        width: 200px;
        height: 200px;
    }

      .rowflex {
        gap:5px; 
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 50px;

    
    }

}

@media (max-width: 980px) {
    .columnflex {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex img{
        width: 150px;
        height: 150px;
    }

      .rowflex {
        gap:3px; 
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 90px;
    }
}

@media (max-width: 765px) {
    .columnflex {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex img{
        width: 125px;
        height: 125px;
    }

    .rowflex{
        gap:3px; 
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 0px;
    }

    .columnflex p{
        font-size: 10px;
    }
}

@media (max-width: 645px) {
    .columnflex {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex img{
        width: 100px;
        height: 100px;
    }

    .columnflex p{
        font-size: 8px;
    }
}

@media (max-width: 525px) {
    .columnflex {
        width: 20.33%;
        padding: 20px;
    }
    
    .columnflex img{
        width: 70px;
        height: 70px;
    }

    .columnflex p{
        font-size: 6px;
    }
}
    
@media (max-width: 415px) {
    .columnflex {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex img{
        width: 60px;
        height: 60px;
    }

    .columnflex p{
        font-size: 4px;
        width: 50px;
    }
}

/*about us -------------------------*/

.teksti_about_us, .teksti_about_us_1 {
    width: 30%;
    max-width: 400px; 
    overflow: hidden; 
    word-wrap: break-word; 
    margin: 0 20px; 
    display: inline-block; 
    vertical-align: top; 
}

@media (max-width: 768px) {
    .teksti_about_us, .teksti_about_us_1 {
        width: 100%; 
        margin: 40px 0; 
        display: block;
        height: auto; 
    }
}

@media (max-width: 980px) {
    .teksti_about_us, .teksti_about_us_1 {
        width: 100%; 
        margin: 40px 0;
        display: block;
        height: auto;
    }
}

@media (max-width: 979px) {
    .teksti_about_us, .teksti_about_us_1 {
        width: 100%;
        margin: 40px 0;
        display: block;
        height: auto;
    }
}

@media (max-width: 845px) {
    .teksti_about_us, .teksti_about_us_1 {
        width: 100%;
        margin: 40px 0;
        display: block;
        height: auto;
    }
}

@media (max-width: 840px) {
    .teksti_about_us, .teksti_about_us_1 {
        width: 100%;
        margin: 40px 0;
        display: block;
        height: auto;
    }
}

@media (max-width: 620px) {
    .teksti_about_us, .teksti_about_us_1 {
        width: 100%; 
        margin: 40px 0;
    }
}
@media (max-width: 513px) {
    .fotot2{
        margin-top: 0px;
        margin-bottom: 80px;
        justify-content: space-around;
        text-align: center;
    }
    
    .fotot_2{
       width: 25.33%;
       padding: 0px;
       display: inline-flex;
    }    

}




.fotot2{
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-around;
    text-align: center;
}

.fotot_2{
   width: 25.33%;
   padding: 30px;
   display: inline-flex;
}



/*product accessories*/

.columnflex1 {
    width: 20.33%;
    padding: 30px;
    flex: 1;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.columnflex1 img{
    height:300px;
      
}

.columnflex1 div p{
    margin-top: 0px;
}
.rowflex1::after {
    content: "";
    clear: both;
    display: table;
  }

  .rowflex1 {
    display:flex;
    justify-content: center;
    gap:5px; 
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;

}

.teksti_par {
    padding-top: 30px;
    padding-right: 50px;
    margin-top: 50px;
    white-space: normal; 
    max-width: 90%; 
}

@media (max-width: 1315px) {

    .columnflex1 {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex1 img{
        width: 200px;
        height: 200px;
    }

      .rowflex1 {
        gap:5px; 
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 50px;

    
    }

}

@media (max-width: 980px) {

    .teksti_par h1{
        font-size: 25px;
    }


    .columnflex1 {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex1 img{
        width: 150px;
        height: 150px;
    }

    .rowflex1 {
        gap:3px; 
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 90px;
    }
}

@media (max-width: 765px) {

    .teksti_par h1{
        font-size: 20px;
    }

    .columnflex1 {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex1 img{
        width: 125px;
        height: 125px;
    }

    .rowflex1{
        gap:3px; 
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 0px;
    }

    .columnflex p{
        font-size: 10px;
    }
}

@media (max-width: 645px) {
    .columnflex1 {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex1 img{
        width: 100px;
        height: 100px;
    }

    .columnflex1 p{
        font-size: 8px;
    }
}

@media (max-width: 525px) {

    .teksti_par h1{
        font-size: 15px;
    }

    .columnflex1 {
        width: 20.33%;
        padding: 20px;
    }
    
    .columnflex1 img{
        width: 70px;
        height: 70px;
    }

    .columnflex1 p{
        font-size: 6px;
    }
}
    
@media (max-width: 415px) {
    .columnflex1 {
        width: 20.33%;
        padding: 30px;
    }
    
    .columnflex1 img{
        width: 60px;
        height: 60px;
    }

    .columnflex1 p{
        font-size: 4px;
        width: 50px;
    }
}


/*Dashboard----------------------*/

    .table-container {
        width: 100%; 
        max-height: 500px; 
        overflow-y: auto; 
    }

    .table-container1{
        width: 100%; 
        max-height: 500px; 
        overflow-y: auto; 
    }

.sidebar_main{
    display: inline-block;
    text-align: center;
    background-color:brown;
    height: 100vh;
    width: 20%;
}

.dash_emri{
    text-align: center;
}

.sidebar_main img{
    margin-top: 20px;
    width: 200px;
    height: 200px;    
}

.dash_emri2{
    margin-top: 100px;
    text-align: center;
}

.dash_emri2 h3{
    padding-top: 10px;
    cursor: pointer;
}
/*product form------------------*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.table-container{
    margin-right: 200px;
}

.container2 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    background-color: rgba(0, 0, 0, 0.05); 
}


.form-box2 {
    width: 400px; 
    height: 350px;
    padding: 20px; 
    border-radius: 10px; 
    background:transparent; 
    box-shadow: 0px 20px 8px rgba(0, 0, 0, 0.2); 
    z-index: 10;
    margin-right: 100px;
  
}
form input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    

}

/*product_accesories--------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.container3 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    background-color: rgba(0, 0, 0, 0.05); 
    margin-left: 150px;
}


.form-box3 {
    width: 400px; 
    height: 350px;
    padding: 20px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    background:transparent; 
    box-shadow: 0px 20px 8px rgba(0, 0, 0, 0.2); 
    z-index: 10;
    margin-right: 100px;
  
}
form input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    
}
