/*Home-------------------------*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/*navbar*/
nav {
    margin-top: 15px;
    display: flex;
    overflow: hidden;
    background-color: beige;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    align-items: center;
    border-radius: 30px;
}

nav img{
    width: 50px;
    height: auto;
    margin-right: 400px;
}

a{
    text-decoration: none;
    color: black;
}

.left_links a{
    padding: 30px;
}

nav a:hover{
    color: white;
    background-color: lightpink;
    border-radius: 10px;
}

.login_btn{
    background: transparent;
    background-color: none;
    border-style: none;
}

.login_btn a{
    padding: 30px;
}

#nje{
    background-image: url("home.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 650px;
    background-position: center;
    height: 650px;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}