/*Home-------------------------*/

body {
    margin: 0;
    font-family: Arial, sans-serif; 
    background-color: beige;   
}

/*navbar*/
nav {
    margin-top: 15px;
    display: flex;
    overflow: hidden;
    background-color: beige;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    align-items: center;
    border-radius: 30px;
  
}

nav img{
    width: 50px;
    height: auto;
    margin-right: 400px;
}

a{
    text-decoration: none;
    color: black;
}

.left_links a{
    padding: 30px;
}

nav a:hover{
    color: white;
    background-color:rgb(189, 101, 101);
    border-radius: 10px;
}

.login_btn{
    background: transparent;
    background-color: none;
    border-style: none;
}

.login_btn a{
    padding: 30px;
}

#nje{
    background-image: url("home.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 650px;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;


}

/*fotot e para ---------------------*/
.text{
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}

.column {
    float: left;
    width: 20.33%;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center; 
}

.column img{
    height:300px;
   
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
    display:flex;
    justify-content: space-between;
    gap:5px; 
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;

}

.column1 {
    float: left;
    width: 20.33%;
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center; 
}

.row1 {
    display:flex;
    justify-content: space-between;
    gap:5px; 
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 200px;
}
/*contact us ------------*/
.container1 {
    padding: 20px;
    background-color:rgb(239, 221, 221);
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
}

.container1 input, .container1 select, .container1 textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container1 input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container1 input[type="submit"]:hover {
    background-color: #45a049;
}

